.section {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 712px;
}

.text {
    font-family: 'JetBrains Mono', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: auto;
    /*box-shadow: inset 0px -1px 0px #2F2F37;*/
    width: 200px;
    padding-bottom: 16px;
    color: #8585AD;
}
.button {
    font-family: 'JetBrains Mono';
    background: #131316;
    border: none;
    box-shadow: inset 0px -1px 0px #2F2F37;
    border: none; outline: none;
    cursor: pointer;
    width: 200px;
}
.textactive {
    color: #8585AD;
    font-family: 'JetBrains Mono', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: auto;
    width: 200px;
    padding-bottom: 16px;
    /*box-shadow: inset 0px -2px 0px #4C4CFF;*/
}

.name {
    text-align: start;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.menu {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
}

.scroll {
    overflow-y: auto;
    direction: ltr;
      scrollbar-color: #d4aa70 #e4e4e4;
    scrollbar-width: thin;
}

.scroll::-webkit-scrollbar {
    width: 8px;
}
  
.scroll::-webkit-scrollbar-track {
    background-color: #2F2F37;
    border-radius: 100px;
}
  
.scroll::-webkit-scrollbar-thumb {
    border-radius: 100px;
    /*background-image: #d4aa70 #e4e4e4;*/
    background-image: linear-gradient(180deg, #8585AD 0%, #8585AD 99%);
    /*linear-gradient(180deg, #d0368a 0%, #708ad4 99%)*/
    box-shadow: inset 2px 2px 5px 0 rgba(#8585AD);
}

.ingredients {
    display: grid;
    grid-template-columns: 272px 272px;
    column-gap: 24px;
    row-gap: 40px;
    margin: auto;
}


.ingredient {
    position: relative;
    width: 272px;
}